@model IEnumerable<PhotosStore.Domain.Entities.Order>

@foreach (var item in Model)
    {
<tr>
    <td class="text-right">@item.OrderID</td>
    <td>@Html.ActionLink(item.Name, "OrderDetails", new { item.OrderID })</td>
    <td class="text-center">@item.Email</td>
    <td class="text-center">@item.Telephone</td>
    <td class="text-center">@item.Date</td>
    <td class="text-center">@item.City</td>
    <td class="text-center">@item.Adress</td>
    <td class="text-center">
        @using (Html.BeginForm("DeleteOrder", "Admin"))
        {
            @Html.Hidden("OrderID", item.OrderID)
            <input type="submit" class="btn btn-default btn-xs" value="Удалить" />
        }
    </td>
</tr>
    }
