@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <title></title>
</head>
<body>
@if (ViewBag.Title != "Login") // убрать навбар для страницы логина
{
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Admin/Index">Админ панель</a>
            </div>
            <ul class="nav navbar-nav">
                @if (ViewBag.Title == "Index") //выбор выделения для нав-бара вверху страницы
                {
                    <li class="active">@Html.ActionLink("Список товаров", "Index", "Admin")</li>
                    <li>@Html.ActionLink("История заказов", "Orders", "Admin")</li>
                }
                else
                {

                    <li >@Html.ActionLink("Список товаров", "Index", "Admin")</li>
                    <li class="active">@Html.ActionLink("История заказов", "Orders", "Admin")</li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/PhotoTechnique/List">
                        <span class="glyphicon glyphicon-camera"></span> В магазин
                    </a>
                </li>
            </ul>
        </div>
    </nav>
}
<div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    @RenderBody()
</div>
</body>
</html>
