@model PhotosStore.Domain.Entities.PhotoTechnique

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <strong>
                <a href="@Url.Action("Technique", "PhotoTechnique",
                         new
                         {
                             category = Model.Category,
                             photoTechniqueId = Model.PhotoTechniqueId
                         })">
                    @Model.Name
                </a>
            </strong>
            <span class="pull-right label label-primary">@Model.Price.ToString("# грн")</span>
        </h3>
    </div>
    <div class="panel-body">
        @if (Model.ImageData != null)
        {
            <div class="pull-left" style="margin-right: 10px">
                <img class="img-thumbnail" width="75" height="75"
                     src="@Url.Action("GetImage", "PhotoTechnique",
                new { Model.PhotoTechniqueId })" />
            </div>
        }
        <span class="lead">@Model.Description</span>
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm("AddToCart", "Cart"))
        {

                @Html.HiddenFor(x => x.PhotoTechniqueId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-primary" value="Добавить в корзину" />

        }
    </div>
</div>